---
import Layout from "../layouts/Layout.astro";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/400-italic.css";
import "@fontsource/poppins/800-italic.css";
import Input from '../components/Input.astro'
---

<Layout title="Welcome to Astro.">
  <main
    class="w-[343px] h-[486px] rounded-3xl rounded-ee-[100px] bg-white px-6 py-12"
  >
    <form class="flex border-b pb-16 gap-x-4" action="#">
		<Input name="day" title="Must be a valid day" placeholder="DD" isRequired={true} pattern='^(?:[1-9]|[12]\d|3[01])$'/>
		<Input name="month" title="Must be a valid month" placeholder="MM" isRequired={true} pattern='^(?:[1-9]|1[0-2])$'/>
		<Input name="year" title="Must be in the past" placeholder="YYYY" isRequired={true} pattern="^\d{4}$"/>

		<button type="submit">
			
		</button>
    </form>
    <div>
      <p><span id="years">- -</span> years</p>
      <p><span id="months">- -</span> months</p>
      <p><span id="days">- -</span> days</p>
    </div>
  </main>
</Layout>

<style></style>
